@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #box ul {
            cursor: pointer;
        }

            #box ul li {
                height: 30px;
                width: 180px;
                border-top: 1px solid #c6c3c3;
                color: #152f64;
                font-family: Broadway;
                font-size: 11px;
                list-style: none;
                cursor: pointer;
            }

                #box ul li:hover {
                    background-color: #67b3e8;
                }

        .xkl {
            height: 30px;
            width: 240px;
            border-top: 1px solid #c6c3c3;
            background-color: #f1f1f1;
            line-height: 30px;
            color: #152f64;
            font-family: "Arial";
            font-size: 12px;
            cursor: pointer;
        }

        ul.tabs {
            background-color: #f1f1f1;
        }

        #box img {
            margin-left: 10px;
            align-content: center;
            margin-top: 5px;
        }

        .img_font {
            margin-left: 10px;
            margin-top: -10px;
        }

        #img_menu div {
            float: left;
            width: 67px;
            height: 55px;
            margin-top: 10px;
            margin-left: 20px;
        }

        #img_menu img {
            width: 64px;
            height: 50px;
        }

            #img_menu img:hover {
                cursor: pointer;
                width: 67px;
                height: 55px;
            }
    </style>
    <script src="~/Scripts/EasyUI/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/Scripts/EasyUI/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            var exists = $("#tt").tabs("exists", "首页");
            $("#tt").tabs(exists ? 'select' : 'add', exists ? "首页" : {
                title: "首页",
                closeable: false,
                href:"/Home/Index"
            })
            $.post("/Home/OutTree", function (data) {
                var k = JSON.parse(data);
                $.each(k, function (i, e) {
                    $div = '<div class="xkl" id="' + e.Menu_Id + '" onclick="box(id)"><img src="/Images/icon_title/' + e.Menu_Id + '.png"/><span class="img_font">' + e.Menu_Name + '</span></div>' +
                     '<ul name="' + e.Menu_Id + '" class="' + e.Menu_Name + '" style="display:none"></ul>'
                    $("#box").append($div);
                })
            })
        })

        function box(id) {
            $("#box ul").hide();
            $.post("/Home/InTree", { id:id }, function (data) {
                var k = JSON.parse(data);
                $("ul[name='" + id + "']").html('');
                $.each(k, function (index, item) {
                    $li = "<li id='" + item.Menu_Id + "' onclick='li(id)'><img src='/Images/icon_title/" + item.Menu_Id + ".png'/><span class='img_font'>" + item.Menu_Name + "</span></li>";
                    $("ul[name='" + id + "']").append($li)
                })
            })
            $("ul[name='" + id + "']").show();
        }

        function li(id) {
            $.post("/Home/Url", { id: id }, function (data) {
                var text = $("#" + id).text();
                var exists = $("#tt").tabs('exists', text);//判断文本是否存储
                //判断是否打开了标签，如果打开了，这里查找并显示，如果没有打开，则新打开一个标签
                $("#tt").tabs(exists ? 'select' : 'add', exists ? text : {
                    title: text,
                    content: "<iframe marginheight='0' marginwidth='0' scrolling='0' frameborder='0' src='" + data + "' style='width:830px;height:450px'></iframe>",
                    closable: true,
                });
            })
        }
    </script>
</head>
<body>
    <table align="center" >
        <tr>
            <td>
                <div id="box" style="height: 500px; width: 180px; border: 1px solid #c6c3c3;" >

                </div>
            </td>
            <td>
                <div id="tt" class="easyui-tabs" data-options="tabWidth:115" style="width:835px;height: 500px">

                </div>
            </td>
        </tr>
    </table>
</body>
</html>
