@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form method="post" action="/Home/LoginAdmin">
            <p>账号:<input type="text" id="uname" name="uname" /></p>
            <p>密码:<input type="password" id="upwd" name="upwd" /></p>
            <p><input type="submit" value="登录" /></p>
        </form>
    </div>
</body>
</html>
